{{#each model.testaments as |testament|}}
<ul class="content content--books">
  {{#each (filter-by 'testament' testament model.books) as |book|}}
    <li class="choice choice--book">
      {{link-to book.name 'bible.book' book.abbr}}
    </li>
  {{/each}}
</ul>
{{/each}}
