<ul class="content content--chapters">
  {{#each model.chapters as |chapter|}}
    <li class="choice choice--chapter">
      {{#link-to 'bible.book.chapter' chapter.chapter}}
        {{chapter.chapter}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
{{outlet}}
