<header class="header {{if (eq currentPath 'index') 'header--index' 'header--page'}}">
  <h1 class="logo">
    {{#link-to 'index'}}
    <span class={{if (not-eq currentPath 'index') 'visually-hidden'}}>
      Loveletters
    </span>
    {{/link-to}}
  </h1>
</header>

<main class="page">
  {{outlet}}
</main>
