<ul class="content content--bibles">
{{#each model.versions as |bible|}}
  <li class="choice choice--bible">
    {{#link-to "bible" bible.id}}
      <span>{{bible.abbreviation}}</span>
      <span class="choice-sub">{{bible.name}}</span>
    {{/link-to}}
  </li>
{{/each}}
</ul>

{{outlet}}

{{{model.meta.fums_noscript}}}
